{% extends "patient/dashboard.html" %}
{% block body %}
<p class="mb-1 pt-2 text-bold">View Requested</p>
<body>
    <form action="" method="POST">
        <table class="table align-items-center justify-content-center mb-0">


            <tr>
                <th>
                    Sl no :
                </th>
                <th>
                    Donor Name :
                </th>

                <th>
                    Address :
                </th>

                   <th>
                    Phone :
                </th>

                   <th>
                    hairtype:
                </th>

                <th>
                    Status :
                </th>



                <th></th>
            </tr>

            {% for i in data %}
            <tr>

                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ i["name"] }}
                </td>
                <td>
                    {{ i["place"] }}, {{ i["post"] }}, {{ i["pin"] }}
                </td>
             <td>
                    {{ i["phone"] }}
                </td>
             <td>
                    {{ i["organ"] }}
                </td>
                <td>

                    {% if i.status=='accepted' %}
                        <a href="/payment?id={{ i["rid"] }}" class="btn btn-danger">Payment</a>
                        {% else %}
                           {{ i["status"] }}
                    {% endif %}
                </td>






            </tr>
            {% endfor %}

        </table>
    </form>
</body>
{%endblock%}