{% extends "patient/dashboard.html" %}
{% block body %}
<p class="mb-1 pt-2 text-bold">Add Feedback</p>

<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <table class="table align-items-center justify-content-center mb-0">


            <tr>
                <td>
                    Feedback :
                </td>
                <td>
                    <input type="text" name="description" placeholder="Enter your Feedack" required class="form-control">
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Add" class="btn btn-primary">
                </td>
            </tr>

        </table>
    </form>
</body>
{%endblock%}